img,
mat-card-title,
mat-card-content {
  cursor: pointer;
}

mat-card img {
  max-height: 100%;
  max-width: 100%;
}

img {
  height: fit-content;
  object-fit: cover;
  object-position: center;
}

.card-title {
  display: flex;
  align-self: center;
}

.price {
  font-weight: bold;
}
