<div class="settings-container">
    <h2>Setările utilizatorului</h2>
    <div class="user-fields">
        <mat-form-field>
            <mat-label>Prenume</mat-label>
            <input matInput [(ngModel)]="user.firstName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nume</mat-label>
            <input matInput [(ngModel)]="user.lastName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="user.email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Număr de telefon</mat-label>
            <input matInput [(ngModel)]="user.phoneNumber">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresă de livrare</mat-label>
            <input matInput [(ngModel)]="user.defaultDeliveryAddress">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Adresă de facturare</mat-label>
            <input matInput [(ngModel)]="user.defaultBillingAddress">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Parolă</mat-label>
            <input matInput [(ngModel)]="user.password">
        </mat-form-field>
    </div>
    <button mat-raised-button color="accent" (click)="updateInfo()">Salvează</button>
</div>