.home {
  text-align: center;
  padding: 20px;
}

.image-container {
  max-width: 100%;
  margin-bottom: 20px;
}

.image-container img {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content {
  margin-bottom: 40px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 20px;
}

.featured-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
}
